<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /api/

  <If "%{REQUEST_URI} =~ m#^/api/admin#">
      AuthType Basic
      AuthName "KS Polonia Admin"
      AuthUserFile /usr/home/trusteei/public_html/ks-polonia/api/.htpasswd
      Require valid-user
  </If>

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ api.fcgi/$1 [QSA,L]
</IfModule>
